---
import CallToAction from '../widgets/CallToAction.astro';

const subtitle =
  'If you enjoy my work, please consider showing your support by following or donating! ' +
  'Your contribution can make a significant difference.</br></br>' +
  'If you have any feedback or question:</br>' +
  'contact me ' +
  '<span class="highlight">through my socials</span> (preferably ' +
  '<a class="highlight-link" href="https://twitter.com/RatinFX">Twitter</a>) </br>' +
  'or e-mail me: ' +
  '<a class="highlight-link" href="mailto:martindotwork@gmail.com">martindotwork@gmail.com</a>';
---

<CallToAction
  title="Support or Contact me"
  subtitle={subtitle}
  callToAction={{
    icon: 'tabler:rocket',
    text: 'Donate',
    tooltip: "Tell me you're from this site if you do so!",
    href: 'https://streamlabs.com/RatinFX/tip',
    openOnNewTab: true,
  }}
  callToAction2={{
    icon: 'tabler:at',
    text: 'E-mail',
    href: 'mailto:martindotwork@gmail.com',
  }}
/>
