---
import { getPermalink } from '~/utils/permalinks';

import { PROJECTS } from '~/config.mjs';
import type { Project } from '~/types';

export interface Props {
  tags: Project['tags'];
  class?: string;
}

const { tags, class: className = 'text-sm' } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="badge-tag lowercase font-medium">
          {PROJECTS?.tag?.disabled ? (
            tag
          ) : (
            <a href={getPermalink(tag, 'tag')} class="text-muted highlight-light">
              {tag}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
