---
import type { CallToAction } from '../types';
import CallToActionButton from './CallToActionButton.astro';

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  callToAction = await Astro.slots.render('callToAction'),
} = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-10">
      <div
        class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600"
      >
        {
          title && (
            <h2
              class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
              set:html={title}
            />
          )
        }

        {subtitle && <p class="text-xl text-muted dark:text-slate-400" set:html={subtitle} />}

        {
          callToAction && (
            <CallToActionButton
              callToAction={callToAction}
              primary={true}
              divClasses={'mt-6 max-w-xs mx-auto'}
              btnClasses={'w-full w-auto'}
            />
          )
        }
      </div>
    </div>
  </div>
</section>
