---
import { Tags } from '~/enums';

export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<>
  <h2 id="how-to-use" style="scroll-margin-top: 5rem">How to use</h2>
  Make sure you have .NET 4.8 (or higher) installed
  <ol>
    <li>
      Download "...13" for <b>13 and below</b>, or "...14" for <b>14 and above</b> Vegas Pro versions
    </li>
    {
      (tags.some((x) => x == Tags.customCommand) && (
        <>
          <li>
            <b>Find or create</b> a folder called
            <b>Vegas Application Extensions</b>
            inside your <b>This PC - My Documents folder</b> like this:
            <blockquote style="margin-top: 0.5em; margin-bottom: 0.5em">
              [user_name]\Documents\Vegas Application Extensions
            </blockquote>
            <ul>
              <li>on Windows 11 try the following:</li>
            </ul>
            <blockquote style="margin-top: 0.5em">
              [user_name]\OneDrive\Documents\Vegas Application Extensions
            </blockquote>
          </li>
          <li>Extract the contents of the .zip file into the folder above</li>
          <li>
            Start VEGAS Pro and you can find the Extension at <b>View - Extensions</b>
          </li>
        </>
      )) ||
        (tags.some((x) => x == Tags.script) && (
          <>
            <li>
              <b>Find or create</b> a folder called
              <b>Vegas Script Menu</b>
              inside your <b>This PC - My Documents folder</b> like this:
              <blockquote style="margin-top: 0.5em; margin-bottom: 0.5em">
                [user_name]\Documents\Vegas Script Menu
              </blockquote>
              <ul>
                <li>on Windows 11 try the following:</li>
              </ul>
              <blockquote style="margin-top: 0.5em">
                [user_name]\OneDrive\Documents\Vegas Application Extensions
              </blockquote>
            </li>
            <li>Place the .dll file, or Extract the contents of the .zip file into the folder above</li>
            <li>
              Start VEGAS Pro and you can find the Script at <b>Tools - Scripting</b>
            </li>
          </>
        )) ||
        (tags.some((x) => x == Tags.dev) && (
          <>
            <li>Extract the contents of the .zip file into your project</li>
            <li>
              Add it as a <b>Reference</b>
            </li>
            <li>
              Then import either
              <b>ScriptPortal.Vegas</b> or <b>Sony.Vegas</b>
            </li>
          </>
        ))
    }
  </ol>
</>
