---
---

<>
  <h3>Quick install</h3>
  <ol>
    <li>
      Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> Vegas Pro versions
    </li>
    <li><b>Run the .exe</b> file, this automatically extracts the files to the selected folder</li>
    <li>Click Next with the default options and wait for it to finish</li>
    <li>
      Start VEGAS Pro and search for the <b>Extension</b> under <b>Tools - Extensions</b>
    </li>
  </ol>

  <details>
    <summary class="text-2xl font-bold">Manual install</summary>
    <ol>
      <li>Delete your current version from the previously installed folder</li>
      <li>
        Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> Vegas Pro versions
      </li>
      <li>
        Go to your <b>AppData - Roaming - Vegas Pro</b> folder by typing the following into your Windows Explorer:
        <blockquote style="margin-top: 0.5em">%appdata%\Vegas Pro</blockquote>
      </li>
      <li>
        <b>Find or create</b> an <b>Application Extensions</b> folder, the path to it should looks like this:
        <blockquote style="margin-top: 0.5em">...\AppData\Roaming\Vegas Pro\Application Extensions</blockquote>
      </li>
      <li>Extract the contents of the .zip file into the folder above</li>
      <li>
        Start VEGAS Pro and search for the <b>Extension</b> under <b>Tools - Extensions</b>
      </li>
    </ol>
  </details>
</>
