---
---

<>
  <h3>Quick install</h3>
  <ol>
    <li>Save and close VEGAS Pro</li>
    <li>
      Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> VEGAS Pro versions
    </li>
    <li>
      <b>Run the .exe</b> and click <b>Extract</b> - this automatically moves the contained files to the destination folder
      <blockquote style="margin-top: 0.5em">
        - default path: <br />
        %userprofile%\Documents\Vegas Application Extensions
      </blockquote>
    </li>
    <li>
      Start VEGAS Pro and search for the <b>Extension</b> under <b>Tools - Extensions</b>
    </li>
  </ol>

  <p>
    Try <b>Manual install</b> if it does not show up inside VEGAS Pro.
  </p>

  <details>
    <summary class="text-2xl font-bold">Manual install</summary>

    <ol>
      <li value="0">
        If <b>Quick install</b> did not work - <b>Delete</b> (or move to the new folder) the VPFlow related .dll files from
        the following folder:
        <blockquote style="margin-top: 0.5em">%userprofile%\Documents\Vegas Application Extensions</blockquote>
      </li>
      <li>Save and close VEGAS Pro</li>
      <li>
        Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> VEGAS Pro versions from <b
          >Manual install (.zip)</b
        >
      </li>
      <li>
        <b>Update</b>
        <ul>
          <li>Navigate to the previous install path</li>
        </ul>
        <b>New install</b>
        <ul>
          <li>
            Open any of the <b>Manual install paths</b> below and create an <b>Application Extensions</b>
            folder like:
            <blockquote style="margin-top: 0.5em">%appdata%\VEGAS Pro\Application Extensions</blockquote>
          </li>
          <li>If you chose a path that has a (version) number change it to <b>your</b> VEGAS version like:</li>
          <blockquote style="margin-top: 0.5em">
            %appdata%\VEGAS Pro\14.0 <br />
            %appdata%\VEGAS Pro\18.0
          </blockquote>
        </ul>
      </li>
      <li>Extract the .zip into the folder</li>
      <li>
        Start VEGAS Pro and search for the <b>Extension</b> under <b>Tools - Extensions</b>
      </li>
    </ol>
    <h4>Manual install paths</h4>
    <ul>
      <li>%programdata%\VEGAS Pro</li>
      <li>%appdata%\VEGAS Pro</li>
      <li>%localappdata%\VEGAS Pro</li>
      <li>%programdata%\VEGAS Pro\17.0</li>
      <li>%appdata%\VEGAS Pro\17.0</li>
      <li>%localappdata%\VEGAS Pro\17.0</li>
    </ul>
  </details>
</>
