---
---

<>
  <ol>
    <li>
      Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> Vegas Pro versions
    </li>
    <li>Extract the contents of the .zip file into your project</li>
    <li>
      Add it as a <b>Reference</b>
    </li>
  </ol>
</>
