---
---

<>
  <h3>Manual install</h3>
  <ol>
    <li>Delete your current version from the previously installed folder</li>
    <li>
      Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> Vegas Pro versions
    </li>
    <li>
      Go to your <b>My Documents</b> folder by typing the following into your Windows Explorer:
      <blockquote style="margin-top: 0.5em">%userprofile%\Documents\</blockquote>
    </li>
    <li>
      <b>Find or create</b> a <b>Vegas Script Menu</b> folder, the path to it should looks like this:
      <blockquote style="margin-top: 0.5em">...\Documents\Vegas Script Menu</blockquote>
    </li>
    <li>Extract the contents of the .zip file into the folder above</li>
    <li>
      Start VEGAS Pro and search for it under <b class="highlight">Tools - Scripting</b>
    </li>
  </ol>
</>
