---
---

<>
  <h3>Quick install</h3>
  <ol>
    <li>
      Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> Vegas Pro versions
    </li>
    <li>Save and close VEGAS Pro</li>
    <li><b>Run the .exe</b> file, this automatically extracts the files to the selected folder</li>
    <li>Click Next with the default options and wait for it to finish</li>
    <li>
      Start VEGAS Pro and search for the <b>Extension</b> under <b>View - Extensions</b> or <b>Tools - Extensions</b>
    </li>
  </ol>

  <p>
    If it doesn't show up inside VEGAS Pro, try <b>Manual install</b> using multiple path choices after removing the extension
    from the default folder.
  </p>

  <details>
    <summary class="text-2xl font-bold">Manual install</summary>
    <ol>
      <li>Delete your current version from the previously installed folder</li>
      <li>
        Download "...13" for <b>13 and earlier</b>, or "...14" for <b>14 and later</b> Vegas Pro versions
      </li>
      <li>
        Find or create any of the following paths:
        <ul>
          <li>C:\Users\[username]\Documents\Vegas Application Extensions\</li>
          <li>C:\Users\[username]\AppData\Local\VEGAS Pro\17.0\Application Extensions\</li>
          <li>C:\Users\[username]\AppData\Roaming\VEGAS Pro\17.0\Application Extensions\</li>
          <li>C:\ProgramData\Vegas Pro\17.0\Application Extensions\</li>
          <li>C:\Users\[username]\AppData\Local\Vegas Pro\Application Extensions\</li>
          <li>C:\Users\[username]\AppData\Roaming\Vegas Pro\Application Extensions\</li>
          <li>C:\ProgramData\Vegas Pro\Application Extensions\</li>
        </ul>
      </li>
      <li>Extract the contents of the .zip file into the folder</li>
      <li>
        Start VEGAS Pro and search for the <b>Extension</b> under <b>Tools - Extensions</b>
      </li>
    </ol>
  </details>
</>
