---
---

<>
  <h3 style="margin-top: 2rem">Install</h3>
  <ol>
    <li>
      <b>Download (and Extract)</b> the <a href="#latest-version">Latest version</a> and run the main <b
        >Executeable (.exe)</b
      > file
    </li>
  </ol>
</>
