---
---

<>
  <details>
    <summary class="text-2xl font-bold">Manual install</summary>
    <ol>
      <li>
        Download the files at <b>Manual install</b> from the <b><a href="#latest-version">Latest version</a></b>
        section
      </li>
      <li value="2">
        <b class="highlight">Update:</b>
        <b>Navigate to</b> the <b>previous Install folder</b>
      </li>
      <li value="2">
        <b class="highlight">New install:</b>
        <b>Navigate to</b> or <b>Create</b> one of the Install Paths:
        <blockquote style="margin-top: 1rem">
          %userprofile%\Documents <br />
          %programdata%\VEGAS Pro <br />
          %appdata%\VEGAS Pro <br />
          %localappdata%\VEGAS Pro <br />
          %programdata%\VEGAS Pro\14.0 <br />
          %appdata%\VEGAS Pro\15.0 <br />
          %localappdata%\VEGAS Pro\16.0
        </blockquote>
      </li>
      <ul>
        <li>
          If you chose a path that has a version number, <b>change it to the VEGAS version you use:</b>
          <blockquote style="margin-top: 1rem">
            %appdata%\VEGAS Pro\14.0 <br />
            %appdata%\VEGAS Pro\18.0 <br />
            %localappdata%\VEGAS Pro\19.0 <br />
            etc.
          </blockquote>
        </li>
        <li>
          If you choose the first, create a <b class="highlight">Vegas Application Extensions</b> folder:
          <blockquote style="margin-top: 1rem">%userprofile%\Documents\Vegas Application Extensions</blockquote>
        </li>
        <li>
          Otherwise create an <b class="highlight">Application Extensions</b> folder:
          <blockquote style="margin-top: 1rem">
            %programdata%\VEGAS Pro\Application Extensions <br />
            %appdata%\VEGAS Pro\Application Extensions <br />
            %localappdata%\VEGAS Pro\19.0\Application Extensions
          </blockquote>
        </li>
      </ul>
      <li><b>Extract</b> the .zip into the folder</li>
      <li><b>Start VEGAS Pro</b> and search for the Extension under <b class="highlight">Tools - Extensions</b></li>
    </ol>
  </details>
</>
