---
---

<>
  <details>
    <summary class="text-2xl font-bold">Manual install</summary>
    <ol>
      <li>Download the files at <b>Manual install</b> from the <b>Latest version</b> section</li>
      <li><b>Navigate to</b> the <b>previous Install folder</b></li>
      <li>
        <b>Navigate to</b> the <b class="highlight">My Documents</b> folder by typing the following into your File Explorer:
        <blockquote style="margin-top: 1rem">%userprofile%\Documents</blockquote>
      </li>
      <li>
        <b>Find or create</b> a <b class="highlight">Vegas Script Menu</b> folder:
        <blockquote style="margin-top: 1rem">...\Documents\Vegas Script Menu</blockquote>
      </li>
      <li>Extract the contents of the .zip file into the folder above</li>
      <li><b>Start VEGAS Pro</b> and search for the Script under <b class="highlight">Tools - Scripting</b></li>
    </ol>
  </details>
</>
