---
---

<>
  <h3 style="margin-top: 2rem">VEGAS Setup</h3>
  <ul>
    <li>
      <b>Turn ON</b>
      <b class="highlight">Sync Cursor</b> in the <b>Video Event FX</b>, <b>Track Motion</b> or <b
        >Parent Track Motion</b
      > window
    </li>
  </ul>
</>
