---
import { SITE } from '~/config.mjs';
import { getPermalink } from '~/utils/permalinks';
import { experience } from '~/data';

import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import LatestProjects from '~/components/project/LatestProjects.astro';
import Features2 from '~/components/widgets/Features2.astro';
import SupportSection from '~/components/project/SupportSection.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{
      icon: 'tabler:rocket',
      text: 'Donate',
      tooltip: "Tell me you're from this site if you do so!",
      href: '#donate',
    }}
    callToAction2={{
      icon: 'tabler:braces',
      text: 'Programming Projects',
      href: getPermalink('/projects'),
    }}
  >
    <Fragment slot="title">
      Hi there! I'm <span class="highlight"> Martin</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        <!-- Continue title -->
        also known as <span class="font-semibold highlight">MartinFX</span>
        or <span class="font-semibold highlight" title="Formerly RatinA0">RatinFX</span>.
        <br />
        <br />

        <!-- Lyric videos -->
        You might know me for creating YouTube videos like
        <a
          class="font-semibold highlight-link"
          href="https://www.youtube.com/watch?v=h-mUGj41hWA"
          title="Over 17M views!"
        >
          NOMA - Brain Power | LYRICS!
        </a>

        <!-- Work -->
        <br />
        I'm also a <span class="font-semibold">software developer</span> who created
        <span class="font-semibold">extensions</span> for
        <span class="font-semibold"> VEGAS Pro</span>, some being open-source on my GitHub page.
      </span>
    </Fragment>
  </Hero>

  <LatestProjects title="Latest Projects" />

  <Features2 title="Experience" id="experience" items={experience} />

  <SupportSection id="donate" />
</Layout>
