---
import type { Version } from '~/types';
import { fetchProjects } from '~/utils/project';

export async function getStaticPaths() {
  return (await fetchProjects()).map((project) => ({
    params: {
      version: 'version/' + project.permalink,
    },
    props: { version: project?.versions?.at(0) },
  }));
}

export interface Props {
  version: Version;
}

const { version } = Astro.props;
---

<span>
  [version={version?.release}]
</span>
