---
import type { VPProjectDetails } from '~/types';
import { fetchProjects } from '~/utils/project';

export async function getStaticPaths() {
  return (await fetchProjects()).map((project) => ({
    params: {
      version: 'version/' + project.permalink,
    },
    props: { version: project?.projectDetails },
  }));
}

export interface Props {
  version: VPProjectDetails;
}

const { version } = Astro.props;
---

<span>
  [version={version?.tag}]
</span>
